body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

#app {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.sport-section {
    margin-bottom: 20px;
}

.sport-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.league {
    margin-left: 20px;
}

.league-title {
    font-weight: bold;
}

.odds,
.results {
    margin-left: 20px;
    font-size: 0.9em;
}
