/* styles.css */

body {
    font-family: Arial, sans-serif;
}

#nav-bar {
    margin-top: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

caption {
    font-weight: bold;
    font-size: 1.2em;
    padding-bottom: 10px;
}

td {
    border: 1px solid #ddd;
    padding: 8px;
}

td:hover {
    background-color: #f2f2f2;
}


